<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  <main class="container">
    <h1><a href="/"><img alt="" src="{{ site.icon }}" width="64" height="64"></a>{{ page.title }}</h1>

    {% if page.subtitle %}<p class="lede">{{ page.subtitle }}</p>{% endif %}

    {{ content }}

    <footer class="page">
      <a href="/">{{ site.title }}</a>
      •
      <a href="{{ site.repo }}">GitHub</a>
      •
      © {{ site.start_year }} <a href="{{ site.author.url }}">{{ site.author.name }}</a>
    </footer>
  </main>
</body>

</html>
