<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  <main class="container">
    {% if page.url == "/" -%}
    <h1><img alt="" src="{{ site.icon }}" width="64" height="64">{{ page.title }}</h1>
    {%- else -%}
    <nav class="crumbs" aria-label="Breadcrumb">
      <a href="/"><img alt="" src="{{ site.icon }}" width="64" height="64">{{ site.title }}</a>
    </nav>
    <h1>{{ page.title }}</h1>
    {%- endif %}

    {% if page.subtitle %}<p class="lede">{{ page.subtitle }}</p>{% endif %}

    {{ content }}

    <footer class="page">
      <a href="/">{{ site.title }}</a>
      •
      <a href="/format/">Format</a>
      •
      <a href="/styles/">Styles</a>
      •
      <a href="{{ site.repo }}">GitHub</a>
      •
      © {{ site.start_year }} <a href="{{ site.author.url }}">{{ site.author.name }}</a>
    </footer>
  </main>
</body>

</html>
